<div class="container-fluid">
    <div class="row">

        <nav class="col-md-2  bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Time Based<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Geo Spatial</a>
                </li>
            </ul>

            <label-select></label-select>
        </nav>
    </div>

</div>